<footer>
    <div class="f-info">
        <div class="f-social-info">  
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        
        </div>

            <div class="fa-brand"> &copy; WanderLust private Ltd</div>
            <div class="f-info-links">
                <a href="#">privacy</a>
                <a href="#">Terms</a>
         
        </div>
    </div>
</footer>